@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: black;
}

/* Remove tap highlight color */
a,
button {
    -webkit-tap-highlight-color: transparent;
}

/* Remove default input styling */
input,
textarea,
select,
button {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    /* If necessary */
    border: none;
    padding: 0;
    /* Adjust as needed */
    margin: 0;
    /* Adjust as needed */
}

/* Remove outline on focused elements */
*:focus {
    outline: none;
}

/* Override font smoothing */
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset list styles */
ul,
ol {
    padding-left: 0;
    list-style: none;
}

/* Remove default table spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove input and textarea resizing handle */
textarea,
input {
    resize: none;
}

/* Reset button styling */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Remove autofill background color */
input:-webkit-autofill {
    background-color: transparent;
}

/* Reset default link styling */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove blue highlight on tap of clickable elements */
a,
button,
input,
select,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.react-images__view-image--isModal {
    display: inline-block;
    left: 50%
}